<div id="site-footer">
    <div class="container">
		<div class="row">
			<div class="three columns">
				<h4>
					Aktuelles
				</h4>
				<ul class="menu">
				    <li><a href="#">Termine</a></li>
				    <li><a href="#">News</a></li>
				</ul>
			</div>
			<div class="three columns">
				<h4>
					Service
				</h4>
				<ul class="menu">
				    <li><a href="#">Karriereförderung</a></li>
					<li><a href="#">Beratung</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">FAQs</a></li>
				</ul>
			</div>
			<div class="three columns">
				<h4>
					Institut
				</h4>
				<ul class="menu">
				    <li><a href="#">Team</a></li>
				    <li><a href="#">Leitbild</a></li>
				</ul>
			</div>
			<div class="three columns">
				<h4>
					Kontakt
				</h4>
				<ul class="menu">
				    <li><a href="#">Service-Buttons (Symbole)</a></li>
				    <li><a href="#">Kontakt, Empfehlen, Teilen, Drucken</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>