// Fonts
@font-face {
    font-family: thesans;
    src: url('fonts/TheSaB4_.woff') format('woff');
}

// Assets
@import "fontello/css/fontello.css";
@import "mixins";

$break-small: 769px;
$break-medium: 1024px;
$break-large: 1280px;

// Colours
$colour-base-light: #e8e8e8;
$colour-primary: #6A686F;
$colour-accent: #ED6E00;
$body-font-colour: $colour-primary;

// Glyphs 
$glyph-logo-casc: '\e813';
$glyph-close: '\e801';

// Grid
$grid-gutter: 15px;
$baseline: 34px;

$container-padding: 2rem;
$container-padding-medium: 3rem;

// Font treatment
$base-font-size: 18px;

// Libraries
@import "libraries/reset";
@import "libraries/animate";

// Third party libraries
@import "libraries/patterns/patterns";

// Project components
@import "components/body";
@import "components/container";
@import "components/main-content";
@import "components/page-header";
@import "components/section-navigation";
@import "components/site-header";
@import "components/site-logo";
@import "components/rich";