// Assets
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,500,700);
@import "fontello/css/fontello.css";
@import "mixins";

$break-small: 768px;
$break-medium: 1024px;
$break-large: 1280px;

// Colours
$colour-primary: #A31E39;

// Third party libraries
// @import "libraries/patterns/patterns";

// Project components
// @import "components/body";