
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-logo-casc:before { content: '\e813'; } /* '' */
.icon-logo-unibw:before { content: '\e814'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */