#site-footer {
	background: $colour-base-light;
	padding: 4rem 0;

    h4 {
        margin-bottom: 0.7em;
        color: black;
        font-weight: 400;
        opacity: 0.8;
        font-size: 0.8em;
    }

    ul.menu {
        opacity: 0.8;
    	font-size: 0.7em;

    	li {
    		a:before {
    			content: '#{$glyph-icon-angle-right}';
    			margin-left: -1em;
    		}
    	}
    	
    }
}