.logo-cloud {
	text-align: center;
	padding: 1em 0 0em;
	margin: 0;
	overflow: hidden;

	a {
		text-align: center;
		width: 33.33332%;
		display: block;
		float: left;
	}

	img {
		@media screen and (min-width: $break-medium) {
			display: inline-block;
			margin: 1em 0.5em;
		}
		@media screen and (max-width: $break-medium) {
			display: block;
			margin: 2em auto;
		}

		height: 3.5em;
	}

	> img {
		opacity: 0.4;
	}
}