#main-content {
    padding-left: 25%;
    padding-right: 5%;
    padding-top: 2em;
    top: 0.5px !important;
    height: 100%;

    .main-section {
    	transition: padding-top 1s;
        transition-delay: 0.4s;
        height: 100%;
        // min-height: 100%;
            // margin-bottom: -5.3rem;

    	&#overview {
            // margin-bottom: -5.3rem;
    	}

        &:last-child {
            margin-bottom: 0;
        }
    }

    // &.bumped {
    // 	.main-section {

    // 		&#overview {
    // 			padding-top: 8rem;
    // 		}
    // 	}
    // }
}