ul.menu {
  margin: 0 0 1em 0;
  list-style-type: none;

  border-top: 1px rgba(0,0,0,0.1) solid;

  li {

    line-height: 2em;
    padding-left: 0;
    position: relative;

    border-bottom: 1px rgba(0,0,0,0.1) solid;

    &:before {
      display: none;
    }

    &.current {
      background-color: white;
    }

    a,
    > label,
    > form > label,
    button {
      display: block;
      // margin-left: -10px;
      // margin-right: -10px;
      // padding-left: 32px;
      // padding-right: 15px;
      padding: 0.3em 0 0.3em 1.6em;
      color: black;
      line-height: 1.3em;
      // height: 1.5em;
      cursor: pointer;
      overflow: hidden;
      border: none;
      width: 100%;
      background: none;
      text-decoration: none;
      @include box-sizing;

      .pat-message {
        display: block;
        margin-top: 0.4em;
        margin-bottom: 0.5em;
        padding: 0.3em 0.5em;
      }

      &.pat-checklist {
        &:before {
          position: relative;
          left: 0;
          margin-left: -1.5em;
          margin-top: 0;
          top: 0.1em;
        }
      }

      input[type="file"] {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 1.8em;
        width: 100%;
      }

      &:before {
        margin-left: -1.6em;
        // margin-top: 0.2em;
        float: left;
        font-family: fontello;
        
      }

      > a:hover {
        text-decoration: none;
        background: rgba(0,0,0,0.05);
      }

      &:active {
        box-shadow: none;
      }

      .directory & {
        cursor: pointer;
      }
    }
  }
}