.news-items {
	.headline-tile {
		font-size: 0.8em;
		line-height: 1.4;
		margin-bottom: 3rem;
		float: left;

		&.columns {
			float: left;
		}

		.title {
			font-size: 1em;
			font-weight: bold;
		}

		.summary {
			display: none;
		}

		img {
			background-size: cover;
			margin-bottom: 0.5em;
		}
	}
}