#page-header {
    width: 100%;
    position: relative;

    #hero-image {
        width: 100%;

        img {
            width: 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            display: block;
        }
    }

    #page-introduction {
        position: relative;
        width: 100%;
        overflow: hidden;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ed6e00+32&0+0,0.78+100 */
            background: -moz-linear-gradient(-45deg, rgba(125,185,232,0) 0%, rgba(237,110,0,0.25) 32%, rgba(237,110,0,0.78) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(125,185,232,0) 0%,rgba(237,110,0,0.25) 32%,rgba(237,110,0,0.78) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(125,185,232,0) 0%,rgba(237,110,0,0.25) 32%,rgba(237,110,0,0.78) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#c7ed6e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 30%;
            left: 0;
            z-index: 2;
            opacity: 0.5;

            background: rgba(125,185,232,1);
            background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(125,185,232,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,185,232,1)), color-stop(100%, rgba(125,185,232,0)));
            background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(125,185,232,0) 100%);
            background: -o-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(125,185,232,0) 100%);
            background: -ms-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(125,185,232,0) 100%);
            background: linear-gradient(to bottom, rgba(125,185,232,1) 0%, rgba(125,185,232,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8', GradientType=0 );
        }

        #page-summary {
            position: absolute;
            z-index: 10;
            bottom: 0;
            width: 100%;

            .text {
                margin-left: 20%;
                font-size: 2em;
                font-weight: 100;
                line-height: 1.3em;
                color: white;
                padding-bottom: 1.5em;
                text-shadow: 0 0 50px $colour-accent;
                position: relative;

                &:before {
                    position: absolute;
                    left: -1.5rem;
                    top: 0;
                    bottom: 0;
                    width: 3px;
                    content: ' ';
                    background: $colour-accent;
                }
            }
        }
    }
}