.people-cloud {
	a {
		text-decoration: none;
		margin-bottom: 1em;
		
		img {
			filter: grayscale(1);
			transition: all 0.3s;
			width: 100%;
		}

		&:hover {
			img {
				filter: grayscale(0);
			}
		}

		.title {
			font-size: 0.8em;
			line-height: 1.4;
			color: gray;
		}
	}
}