#section-navigation {
    z-index: 10;

    &.bumped {
        .navigation {
            width: 25%;
            margin-left: 0;
            padding-right: 3em;
        }

        &.sticky-supported {
          @media screen and (-webkit-min-device-pixel-ratio:0) {
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 0.01px !important;
          }
        }
    }

    .navigation {
        width: 75%;
        margin-left: 25%;
        display: block;
        position: relative;;
        padding-top: 8rem;
        @include box-sizing;

        transition: all 0.5s;

        a {
            text-decoration: none;
            color: $colour-primary;
            display: block;
            font-size: 0.8em;
            padding: 0.3em 0;
            line-height: 1.4;

            &.current {
                color: $colour-accent;
                display: block;
                font-size: 0.8em;
                padding: 0.3em 0;
                line-height: 1.4;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &:before {
            position: absolute;
            left: -1.5rem;
            top: 0;
            bottom: 0;
            width: 3px;
            content: ' ';
            background: $colour-accent;
        }
    }
}