#home {
	position: absolute;
	left: 50%;
	transform: -webkit-translateX(-50%);
	transform: -moz-translateX(-50%);
	transform: translateX(-50%);
	z-index: 10000;
	transition: all 2s;
	top: 5px;
	opacity: 1;

	.bumped & {
		top: -50px;
		opacity: 0;
	}

	a {

		background: url(logo-unibw-brandmark.svg);
		background-size: cover;
		color: transparent;
		width: 330px;
		height: 53px;
		display: block;
		transform: scale(1.5);
		transition: all 0.5s;
		margin-left: -15px;


		&:hover {
			transform: -webkit-scale(1);
			transform: -moz-scale(1);
			transform: scale(1);
			margin-top: 12px;
			margin-left: 0;

			&:before {
				opacity: 1;
			}
		}

		&:before {
			content: ' ';
			background: url(logo-unibw-text.svg);
			background-size: cover;
			width: 330px;
			height: 53px;
			display: block;
			opacity: 0;
			transition: all 0.5s;
		}
	}
	
}