#site-header {
    background-color: $colour-primary;
    color: white;
    padding: 0.5em 0;
    @include clear-fix;

    #site-search {
        float: right;

        input {
            &::-webkit-input-placeholder { 
              color: rgba(255,255,255,0.5); 
            }

            &::-moz-placeholder { 
              color: rgba(255,255,255,0.5); 
            } /* firefox 19+ */

            &:-ms-input-placeholder { 
              color: rgba(255,255,255,0.5); 
            } /* ie */

            &input:-moz-placeholder { 
              color: rgba(255,255,255,0.5); 
            }
        }
    }

    #global-navigation {
        @include clear-fix;
        overflow: hidden;

        a {
            color: white;
            text-decoration: none;
            float: left;
            margin-right: 1em;

            &.faculty-casc {
                color: transparent;
                overflow: hidden;
                width: 2em;

                &:before {
                    content: '#{$glyph-logo-casc}';
                    font-family: fontello;
                    color: white;
                    font-size: 1.6em;
                    position: absolute;
                }
            }
        }


    }
}