#site-header {
    background-color: $colour-primary;
    color: white;
    padding: 0.5em 0;
    @include clear-fix;
    height: 31px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
    z-index: 20;

    #site-search {
        float: right;

        input {
            &::-webkit-input-placeholder { 
              color: rgba(255,255,255,0.5); 
            }

            &::-moz-placeholder { 
              color: rgba(255,255,255,0.5); 
            } /* firefox 19+ */

            &:-ms-input-placeholder { 
              color: rgba(255,255,255,0.5); 
            } /* ie */

            &input:-moz-placeholder { 
              color: rgba(255,255,255,0.5); 
            }
        }
    }

    #global-navigation {
        @include clear-fix;

        a {
            color: rgba(255,255,255,1);
            text-decoration: none;
            float: left;
            margin-right: 1em;
            position: relative;

            &.current {
                &:after {
                    content: ' ';
                    background-color: white;
                    height: 6px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    bottom: -12px

                }
            }

            &.faculty-casc {
                color: transparent;
                overflow: hidden;
                width: 2em;

                &:before {
                    content: '#{$glyph-logo-casc}';
                    font-family: fontello;
                    color: white;
                    font-size: 1.6em;
                    position: absolute;
                }
            }
        }


    }
}