
	.testimonial {
		margin-bottom: 1rem;
		margin-left: 15.2%;
		padding-left: 1.5%;
		border-left: 3px rgba(0,0,0,0.2) solid;
		display: block;
		font-size: 0.9em;

		p {
			margin-bottom: 0.5em;

			&.signature {
				font-weight: bold;
				
				&:before {
					content: '— ';
				}
			}
		}

		.portrait {
			float: left;
			margin-left: -20%;
			width: 16%;
			border-radius: 50%;
		}
	}
