---
layout: generic
---

<header id="page-header" class="{% if page.hero %}has-hero{% endif %} {% if page.description %}has-description{% endif %}">
	<div class="regular slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
		<a href="#" class="page-introduction" {% if page.hero %}style="background-image: url({{ page.hero }})"{% endif %}>
			{% if page.description %}
				<section class="page-summary">
					<div class="container">
						<h2 class="title">
							Lorem ipsum dolor sit amet consectetuer
						</h2>
						<p class="description">
							{{ page.description }}
						</p>
					</div>
				</section>
			{% endif %}
		</a>
		<a href="#" class="page-introduction" style="background-image: url(/media/hero/class.jpg)">
			<section class="page-summary">
				<div class="container">
					<h2 class="title">
						Lorem ipsum dolor sit amet consectetuer
					</h2>
					<p class="description">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
					</p>
				</div>
			</section>
		</a>
		<a href="#" class="page-introduction" style="background-image: url(/media/hero/workshop.jpg)">
			<section class="page-summary">
				<div class="container">
					<h2 class="title">
						Lorem ipsum dolor sit amet consectetuer
					</h2>
					<p class="description">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
					</p>
				</div>
			</section>
		</a>
	</div>
</header>

<div class="container">
	<div class="main-section">
<!-- 			<article class="eight columns pat-rich">
			{{ content }}
		</article> -->

	{% assign count = 1 %}

	<div class="news-items pat-equaliser row">
		{% for item in site.posts %}
			{% if item.layout == 'news-item' %}
				{% if count < 4 %}
					<a href="{{ item.url }}" class="headline-tile four columns">
						<figure>
							<img style="background-image: url({{ item.image }});" src="/media/placeholder-16x9.png" alt="" />
							<figcaption>
								<h3 class="title">
									{{ item.title }}
								</h3>
								<p class="summary">
									{{ item.description }}
								</p>
							</figcaption>
						</figure>
					</a>
				{% endif %}
				{% assign count = count | plus: 1 %}
			{% endif %}
		{% endfor %}
	</div>

	<div class="pat-well pat-rich">
		<h4>Kontakt</h4>
		<p>
		Dr. Nicol Matzner-Vogel<br/>	
		Geschäftsführerin<br/>
		Tel.: +49 89 6004-4530 oder -2036 (Geschäftszimmer)<br/>
		E-Mail: <a href="mailto:info@casc.de">info@casc.de</a>
		</p>
		<p>
		Die Geschäftsräume von casc befinden sich im Präsidialbereich der Universität der Bundeswehr München in Gebäude 38, Erdgeschoss.
		Das Geschäftszimmer (Raum 0109) ist von Montag bis Donnerstag, 8:30 bis 12.30 Uhr besetzt.
		</p>
	</div>	
</div>