---
layout: generic
---

<header id="page-header" class="{% if page.hero %}has-hero{% endif %} {% if page.description %}has-description{% endif %}">
	<section id="page-introduction">
		{% if page.description %}
			<section id="page-summary">
				<div class="container">
					<p class="text">
						{{ page.description }}
					</p>
				</div>
			</section>
		{% endif %}
		{% if page.hero %}
			<figure id="hero-image">
				<img src="{{ page.hero }}" alt="Workshop with three people." />
			</figure>
		{% endif %}
	</section>
</header>

<div class="container">
	<div class="row">
		<div class="main-section">
			<article class="eight columns pat-rich">
				{{ content }}
			</article>
		</div>
		<aside class="four columns" id="sidebar-right">
				<div class="pat-well pat-rich">
					<h4>Kontakt</h4>
					<p>
					Dr. Nicol Matzner-Vogel<br/>	
					Geschäftsführerin<br/>
					Tel.: +49 89 6004-4530 oder -2036 (Geschäftszimmer)<br/>
					E-Mail: <a href="mailto:info@casc.de">info@casc.de</a>
					</p>
					<p>
					Die Geschäftsräume von casc befinden sich im Präsidialbereich der Universität der Bundeswehr München in Gebäude 38, Erdgeschoss.
					Das Geschäftszimmer (Raum 0109) ist von Montag bis Donnerstag, 8:30 bis 12.30 Uhr besetzt.
					</p>
				</div>
		</aside>	
	</div>
</div>