---
layout: generic
---

<header id="page-header" class="{% if page.hero %}has-hero{% endif %} {% if page.description %}has-description{% endif %}">
	<section id="page-introduction">
		{% if page.description %}
			<section id="page-summary">
				<div class="container">
					<p class="text">
						{{ page.description }}
					</p>
				</div>
			</section>
		{% endif %}
		{% if page.hero %}
			<figure id="hero-image">
				<img src="{{ page.hero }}" alt="Workshop with three people." />
			</figure>
		{% endif %}
	</section>
</header>

<div class="container">
	<section id="section-navigation" class="pat-bumper">
	    <ul class="navigation">
			<li>
				<a href="#overview" class="pat-scroll">Übersicht</a>
			</li>
	    	{% for item in site.posts %}
	    		{% if item.parent == page.title %}
	    			<li>
	    				<a href="#{{ item.url | remove: '/' }}" class="pat-scroll">{{ item.title }}</a>
	    			</li>
	    		{% endif %}
	    	{% endfor %}
	    </ul>
	</section>
	<article class="pat-rich pat-bumper" id="main-content">
		<section class="main-section" id="overview">
			{{ content }}
		</section>
		
		{% for item in site.posts %}
			{% if item.parent == page.title %}
				<section id="{{ item.url | remove: '/' }}" class="main-section">
					<h2>{{ item.title }}</h2>
					{% if item.description %}
						<section class="introduction">
							<p>
								{{ item.description }}
							</p>
						</section>
					{% endif %}
					{{ item.content | markdownify }}
				</section>
			{% endif %}
		{% endfor %}
	</article>
</div>