---
layout: generic
---

<header id="page-header" class="{% if page.hero %}has-hero{% endif %} {% if page.description %}has-description{% endif %} has-sub-nav">
	<section id="page-introduction" {% if page.hero %}style="background-image: url({{ page.hero }})"{% endif %}>
		{% if page.description %}
			<section id="page-summary">
				<div class="container">
					<p class="text">
						{{ page.description }}
					</p>
				</div>
			</section>
		{% endif %}
	</section>
</header>

<div class="container" id="page-content">
	<section id="section-navigation" class="pat-bumper">
	    <ul class="navigation">
			<li>
				<a href="{{ page.url }}#main-content" class="pat-inject current">Übersicht</a>
			</li>
	    	{% for item in site.posts %}
	    		{% if item.parent == page.title %}
	    			<li>
	    				<a href="{{ item.url }}#main-content" class="pat-inject">{% if item.nav_title %}{{ item.nav_title }}{% else %}{{ item.title }}{% endif %}</a>

    					{% assign this_sub = 0 %}
	    				{% for sub in site.posts %}
    						{% if item.title == sub.parent %}
    							{% assign this_sub = this_sub | plus: 1 %}
    						{% endif %}
    					{% endfor %}

    					{% if this_sub > 0 %}
		    				<ul>
		    					{% for sub in site.posts %}
		    						{% if item.title == sub.parent %}
		    							<li>
		    								<a href="{{ sub.url }}#main-content" class="pat-inject">{{ sub.title }}</a>
		    							</li>
		    						{% endif %}
		    					{% endfor %}
		    				</ul>
    					{% endif %}
	    			</li>
	    		{% endif %}
	    	{% endfor %}
	    </ul>
	</section>
	<div id="main-content">
		<article class="pat-rich">
			<section class="main-section" id="overview">
				{{ content }}
			</section>
		</article>
	</div>
</div>