---
layout: generic
---

<header id="page-header" class="{% if page.hero %}has-hero{% endif %} {% if page.description %}has-description{% endif %} has-sub-nav">
	<section id="page-introduction">
		{% if page.description %}
			<section id="page-summary">
				<div class="container">
					<p class="text">
						{{ page.description }}
					</p>
				</div>
			</section>
		{% endif %}
		{% if page.hero %}
			<figure id="hero-image">
				<img src="{{ page.hero }}" alt="Workshop with three people." />
			</figure>
		{% endif %}
	</section>
</header>

<div class="container">
	<section id="section-navigation" class="pat-bumper">
	    <ul class="navigation">
			<li>
				<a href="#overview" class="pat-scroll">Übersicht</a>
			</li>
	    	{% for item in site.posts %}
	    		{% if item.parent == page.title %}
	    			<li>
	    				<a href="#{{ item.url | remove: '/' }}" class="pat-scroll">{% if item.nav_title %}{{ item.nav_title }}{% else %}{{ item.title }}{% endif %}</a>

	    				{% comment %}
	    					{% assign this_sub = 0 %}
		    				{% for sub in site.posts %}
	    						{% if item.title == sub.parent %}
	    							{% assign this_sub = this_sub | plus: 1 %}
	    						{% endif %}
	    					{% endfor %}

	    					{% if this_sub > 0 %}
			    				<ul>
			    					{% for sub in site.posts %}
			    						{% if item.title == sub.parent %}
			    							<li>
			    								<a href="{{ sub.url }}" class="pat-inject" data-pat-inject="source: #main-content; target: #{{ item.url | remove: '/' }}">{{ sub.title }}</a>
			    							</li>
			    						{% endif %}
			    					{% endfor %}
			    				</ul>
	    					{% endif %}
	    				{% endcomment %}
	    			</li>
	    		{% endif %}
	    	{% endfor %}
	    </ul>
	</section>
	<div class="pat-bumper" id="main-content">
		<article class="pat-rich">
			<section class="main-section" id="overview">
				{{ content }}
			</section>
		</article>
		
		{% for item in site.posts %}
			{% if item.parent == page.title %}
				<div id="{{ item.url | remove: '/' }}" class="main-section">
					<div id="{{ item.url | remove: '/' }}-content">
						<article class="pat-rich">
							<h2>{{ item.title }}</h2>
							{% if item.description %}
								<section class="introduction">
									<p>
										{{ item.description }}
									</p>
								</section>
							{% endif %}

							{{ item.content | markdownify }}
						</article>
						
						{% if item.title == 'Team' %}
							{% include people-cloud.html %}
						{% endif %}

						{% if item.title == 'Studiengänge' %}
							{% include article-cloud.html %}
						{% endif %}

						{% if item.title == 'Zertifikate' %}
							{% include article-cloud.html %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
