---
layout: generic
parent: Aktuelles
---

<div class="container" id="main-content">
	<article class="pat-rich">
		<p>
        {% for post in site.posts %}
            {% if post.title == page.parent %}
                {% for parents in site.posts %}
                    {% if parents.title == post.parent %}
			             <a href="{{ parents.url | remove: '/' }}#main" class="pat-inject icon-angle-left">{{ page.parent }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
		</p>
		<h1>
			{{ page.title }}
		</h1>
		<figure>
			<img src="{{ page.image }}" alt="" />
			<figcaption>
				
			</figcaption>
		</figure>
		
		{{ content }}
	</article>
</div>
