<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="Description" CONTENT="{{ page.description }}">
        	<title>{{ page.title }} — {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" media="screen" type="text/css" href="/style/base.css"/>
    </head>
    <body class="{{ page.class }} layout-{{ page.layout }}">
        <div id="main" class="pat-bumper">
            <header id="site-header">
                <div id="global-navigation" class="container">
                    <a id="faculty" href="/" class="faculty-casc">casc</a>
                    <nav class="site-sections">
                        {% for item in site.posts %}
                            {% if item.layout == 'landing' or item.layout == 'news' or item.layout == 'programmes' %}
                                <a href="{% if item.url == page.url %}#main{% else %}{{ item.url }}{% endif %}#main" class="pat-inject {% if item.url == page.url %}current-section pat-scroll{% endif %}">{{ item.nav_title }}</a>
                            {% endif %}
                        {% endfor %}
                    </nav>
                    
                    <form id="site-search">
                        <label>
                            <input type="search" placeholder="Suchen" name="site-search" />
                        </label>
                    </form>
                </div>  
            </header>
            
            <div id="content">
                {{ content }}

                <p hidden>
                    <a href="#main" class="pat-scroll" data-pat-scroll="trigger: auto; selector: #main">Back to top</a>
                </p>
            </div>

            <div id="site-footer">

            </div>

            <p id="home">
                <a href="http://www.unibw.de">Universität der Bundeswehr München</a>
            </p>
        </div>

        <script src="/bundles/bundle.min.js" type="text/javascript"></script>
    </body>
</html>